{% extends "layout.html" %}

{% block content %}
  <h3>Add a Page</h3>
  <hr>
  <form method="POST" action="/wiki/">

    <div class="form-group">
      <label for="author">Author</label>
      <input name="author" type="text" class="form-control"/>
    </div>

    <div class="form-group">
      <label for="authorEmail">Author Email</label>
      <input name="authorEmail" type="text" class="form-control"/>
    </div>

    <div class="form-group">
      <label for="title">Page Title</label>
      <input name="title" type="text" class="form-control"/>
    </div>

    <div class="form-group">
      <label for="content">Content</label>
      <textarea name="content" type="text" class="form-control">Enter your content here.</textarea>
    </div>

    <div class="form-group">
      <label for="tags">Tags</label>
      <input name="tags" type="text" class="form-control"/>
    </div>

    <button type="submit" class="btn btn-primary">submit</button>
  </form>
{% endblock %}
