{% extends "layout.html" %}

{% block content %}
  <h3>Pages</h3>
  <hr>
  <ul class="list-unstyled">
    {% for page in pages %}
    	<li>{{ page | pageLink }}</li>
    {% endfor %}
  </ul>
{% endblock %}