{% extends "layout.html" %}

{% block content %}
  <h3>Users</h3>
  <hr>
  <ul class="list-unstyled">
    {% for user in users %}
    	<li><a href="/users/{{ user._id.toString() }}">{{ user.name }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
