{% extends "layout.html" %}

{% block content %}
  <h3>{{ title }}<small> (<a href="{{ urlTitle }}/similar">Similar</a>)</small></h3>
  PLACEHOLDER TAG LIST
  <hr>
  PLACEHOLDER AUTHOR NAME WITH LINK TO AUTHOR PAGE
  <div class="page-body">{{ content }}</div>
  <a href="PLACEHOLDER_URL_TITLE/edit" class="btn btn-primary">edit this page</a>
  <a href="PLACEHOLDER_URL_TITLE/delete" class="btn btn-danger">delete this page</a>
{% endblock %}